@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    @variants responsive {
      /* Hide scrollbar for Chrome, Safari and Opera */
      .no-scrollbar::-webkit-scrollbar {
          display: none;
      }

      /* Hide scrollbar for IE, Edge and Firefox */
      .no-scrollbar {
          -ms-overflow-style: none;  /* IE and Edge */
          scrollbar-width: none;  /* Firefox */
      }
    }
  }


  #videoback{
    z-index: -1;
    max-width: none;
float: left;
top: 0;
padding: none;
position: fixed; /* optional depending on what you want to do in your app */
object-fit: contain;

  }

  #bgBlur{
    align-items: center;
  display: flex;
  justify-content: center;
    margin-top: 10rem;
    border-radius: 10px;
  }